html {
  box-sizing: border-box;
} 

*,
*::after,
*::before { 
  box-sizing:inherit;
  margin: 0px;
}

body{
  font-family:'poppins',sans-serif;
  background-color: #080710;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

input,button{
  font-family: inherit;
  border:none;
  outline: none;
}

.container{
  width: 400px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.cir1{
  top: -90px;
  left: -100px;
  background: linear-gradient(167deg, rgba(3,20,249,1) 8%, rgba(15,207,195,1) 100%);
}

.cir2{
  bottom: -95px;
  right: -95px;
  background: linear-gradient(51deg, rgba(232,96,11,1) 8%, rgba(241,230,6,1) 100%);
}

.under{
position: absolute;
width: 200px;
height: 200px;
border-radius:100%;
z-index:-1 ;
}

.form{
  color: rgb(243, 239, 239);
  width: 100%;
  height: 100%;
  padding: 50px 35px 35px 35px;
  border-radius:10px;
  background-color:rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.13) ;
  box-shadow: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.form_title{
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.form_div{
margin-bottom: 26px;
}

.form_label{
font-size: 16px;
font-weight: 500;
}

.form_input{
  display: block;
font-size: 14px;
height: 50px;
padding: 0px 10px;
font-weight: 300;
background-color:rgba(255, 255, 255, 0.07);
color:#fff;
width: 100%;
margin-top: 8px;
border-radius: 4px;
}

.form_input::placeholder{
  color:#e5e5e5
}

.input_btn{
  font-weight: 700;
  background-color: #fff;
  color:#080710;
  border-radius:4px;
  display: block;
  padding: 15px 0px;
  font-size: 18px;
  width: 100%;
  margin-top: 60px;
}